%h1 All mailing lists
%br

= link_to 'New Mailing list', new_mailing_list_path

%table.tablekit.sortable
  %thead
    %tr
      %th.sortcol.sortfirstasc Name
      %th.nosort

  %tbody
    - @lists.each do |list|
      %tr
        %td= list.name
        %td= icon_link('envelope', new_mail_shot_path(mailing_list_id: list)) + show_edit_delete_links(list)

%br

= link_to 'New Mailing list', new_mailing_list_path
