- content_for :extra_tab do
  .tab.current
    %span View mailing list

%table.show_model
  %tr
    %th Name:
    %td= @list.name

= link_to 'Edit', edit_mailing_list_path(@list)
\|
= link_to 'Back', mailing_lists_path
