$background-light-grey: #ddd;
$background-dark-grey: #888;
$background-near-white: #fafafa;
$background-darker-white: #f0f0f0;
$error-colour: #b50000;
$ok-colour: #00b500;

$error-bg-colour: lighten($error-colour, 50%);
$notice-colour: #005dff;
$alert-colour: #eac300;

$danger-colour: $error-colour;

$icon-grey: #888;
$icon-black: #444;

// Clearfix hack
.group:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
  }

@mixin query-button($colour) {
  @include sassy-button-gradient('simple', $colour, $colour);
  font-weight: bold;
  padding-left: 0.25em;
  padding-right: 0.25em;
}