/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "compass/reset";
@import "compass/css3/box-sizing";
@import "sassybuttons";
@import "mixins";
@import "fonts";
@import "icons";
@import "tablekit";

* {
  @include box-sizing(border-box);
}

html {
  line-height: 1.2;
  height: 100%;
}

body {
  height: 100%;
  font-size: 16px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

#gradient-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(to bottom, $background-light-grey, $background-dark-grey);
}

header p {
  position: relative;
  top: 0;
  left: 100%;
  width: 400px;
  margin-left: -400px;
  padding: 0.5em 2em;
  border-radius: 0 0 0 5px;
  background-color: $background-near-white;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}

#content, #flash p {
  position: relative;
  margin: 0 1em 1em;
  padding: 0.5em 2em;
  border-radius: 5px;
  background-color: $background-near-white;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#flash {
  .notice {
   border: 2px solid $notice-colour;
  }
  .alert {
    border: 2px solid $alert-colour;
  }
}

.tabbedNav {
  position: relative;
  z-index: 0;

  // Shift tabs down to hide top border radius
  margin: 0 0 -5px 1em;
}

.tab {
  float: left;
  margin-right: 5px;

  background-color: $background-darker-white;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 1.6em 5px 0 0;

  &.current {
  background-color: $background-near-white;
  }

  a, span {
    display: inline-block;
    padding: 0.5em 2em;
    text-decoration: none;
    color: black;
  }
}

#sign-in {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 500px;
  height: 350px;
  margin: -175px 0 0 -250px;
  padding: 10px;
  border-radius: 5px;

  background-color: $background-near-white;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.5);

  h1 {
    text-align: center;
  }

  h2 {
    margin-bottom: 10px;
    text-decoration: underline;
  }
}

// Switch between javascript and noscript
.js .nojs-section, .no-js .js-section {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Cambria, Georgia, serif;
}

button, input[type=button], input[type=submit], a.button {
  @include sassy-button;
}

#error_explanation {
  margin: 10px 0;
  border: 2px solid $error-colour;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: $error-bg-colour;

  display: inline-block;
  padding: 5px;

  h2 {
    font-size: 1.5em;
    font-weight: bold;
  }
}

fieldset {
  border: 1px solid DarkGray;
  border-radius: 5px;
  padding: 10px;
  padding-top: 0;
  margin: 5px 0;

  div {
    margin: 10px 0;
    label {
      float: left;
      width: 10em;
    }
  }

  .field_with_errors {
    display: inline;

    label {
      color: $error-colour;
      &:before {
        content: '! ';
        font-weight: bold;
      }
    }
    input, select { background-color: $error-bg-colour; }
  }
}

td, th {
  border: 1px solid black;
  padding: 1px 5px;
}

thead {
  background-color: #ccf;
}

h1 {
  font-size: 1.5em;
}