/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
 @import "compass/reset";
 @import "compass/css3/box-sizing";
 @import "sassybuttons";
 @import "mixins";

 * {
   @include box-sizing(border-box);
 }

 html {
   line-height: 1.2;
   height: 100%;
 }

 body {
  height: 100%;
  font-size: 16px;
  padding: 0.5em 2em 0;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  background: linear-gradient(to bottom, $background-light-grey, $background-dark-grey);
 }

#content {
  background-color: $background-near-white;
}

#sign-in {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 500px;
  height: 300px;
  margin: -150px 0 0 -250px;
  padding: 10px;
  border-radius: 5px;

  background-color: $background-near-white;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.5);

  h1 {
    font-size: 1.5em;
    text-align: center;
  }

  h2 {
    margin-bottom: 10px;
    text-decoration: underline;
  }

  fieldset {
    border: 1px solid DarkGray;
    border-radius: 5px;
    padding: 10px;
    padding-top: 0;
    margin: 5px 0;
  }
}

 // Switch between javascript and noscript
 .js .nojs-section, .no-js .js-section {
   display: none;
 }

 h1, h2, h3, h4, h5, h6 {
   font-family: Cambria, Georgia, serif;
 }

 button, input[type=button], input[type=submit], a.button {
   @include sassy-button;
 }